*{
    margin: 0;
    padding: 0;
    border: 0;
}

$font-stack: Helvetica, sans-serif;
$bg-color : gray;

body{
    background-image: url(images/empty-wooden-table-with-smoke-float-up-dark-background_68495-135.jpg) ;
    font: 100% $font-stack;
}

.container{
    display: flex;
    background:#bfbfbf;
    justify-content: center;
}
 
//.naw_menu{
//    width: 80%;
//    position: sticky;
//    
//}
button {
  transition-duration: 0.4s;

    
&:hover {
  background-color: $bg-color;
  color: white;
    }
}

.menu_item{
    float: left;
    background: $bg-color;
    border: 0.2px solid #527a7a;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    margin: 5px;
}


/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
//----------

.slideshow {
display: flex;
}
.images {
  background: url(images/empty-wooden-table-with-smoke-float-up-dark-background_68495-135.jpg);
  position: relative;
  left: 0;
  top: 0;
  height: 300px;
  width: 80%;
  margin: 0 auto;
}


.product_container{
    display: flex;
    width: 90%;
    flex-flow: row wrap;
    margin: 0 auto;
   
}

.txt-decor{
    width: 80%;
    height: 80%;
    background: #404040;
    margin: 30px auto;
    text-align: center;
    border: 5px solid #d9d9d9;
    color: white;
}

.product{
    width: 30%;
    height: 200px;
    background:  #a6a6a6;
//    flex-wrap: wrap;  
    margin: 10px;
    display: flex;
        
    }
.product_photo{
    flex-wrap: nowrap;
    width: 40%;
    height: 90%;
    background: url(images/product_image.jpg);
    margin: 10px;
}

.product_item{
    flex-wrap: nowrap;
//    display: block;
    width: 50%;
    font-size: 10px;
    float: left;
    margin: 10px;

}

.btn_product{
    width: 50%;
    height: 25px;
}


@media screen and (max-width: 1390px) {
    .txt-decor{
//        font-size: 10px;
        h2{font-size: 23px;}
        h1{ font-size: 25px;}
    }
    .images{height: 200px;}
}

@media screen and (max-width: 1048px){
    .product{width: 40%;}
    
} 

@media screen and (max-width: 1000px){
    .txt-decor{display: none;}
    .images{height: 0px;}
}

@media screen and (max-width: 800px){
    .product{
        width: 80%;
        height: 250px;                
    }
//    .product_item{font-size: 10px;}
}


@media screen and (max-width: 600px){
    .product{
        width: 80%;
        height: 350px;                
    }
//    .product_item{font-size: 10px;}
}

@media screen and (max-width: 500px){
    .product{
        height: 400px;                
    }
}
@media screen and (max-width: 400px){
    .product{
        height: 450px;                
    }
}

@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

body {
//	background: url(../images/bg.png) repeat;
	color: #999;
	font: 100%/1.5em sans-serif;
	margin: 0;
}

h1 { margin: 0; }

a {
	color: #999;
	text-decoration: none;
}

a:hover { color: #1dabb8; }

fieldset {
	border: none;
	margin: 0;
}

input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	outline: none;
	-webkit-appearance: none;
}

input[type="submit"] { cursor: pointer; }

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
	content: "";
	display: table;	
}
.clearfix:after { clear: both; }

/* ---------- LOGIN-FORM ---------- */

#login-form {
	margin: 150px auto;
	width: 300px;
}

#login-form h1 {
	background-color: #282830;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 14px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}

#login-form fieldset {
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 20px;
	position: relative;
}

#login-form fieldset:before {
	background-color: #fff;
	content: "";
	height: 15px;
	left: 50%;
	margin: -4px 0 0 -4px;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
}

#login-form input {
	font-size: 14px;
}

#login-form input[type="email"],
#login-form input[type="text"],
#login-form input[type="password"] {
	border: 1px solid #dcdcdc;
	padding: 12px 10px;
	width: 250px;
}

#login-form input[type="email"] {
	border-radius: 3px 3px 0 0;
}

#login-form input[type="password"] {
	border-top: none;
	border-radius: 0px 0px 3px 3px;
}

#login-form input[type="submit"] {
	background: #1dabb8;
	border-radius: 3px;
	color: #fff;
	float: right;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 20px;
}

#login-form input[type="submit"]:hover { background: #198d98; }

#login-form footer {
	font-size: 12px;
	margin-top: 16px;
}

.info {
	background: #e5e5e5;
	border-radius: 50%;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	margin: 0 10px 0 0;
	text-align: center;
	width: 20px;
}

///* Стили бара vladmaxi, можно удалить */
//.vladmaxi-top{
//	line-height: 24px;
//	font-size: 11px;
//	background: rgba(0, 0, 0, 0.08);
//	text-transform: uppercase;
//	z-index: 9999;
//	position: fixed;
//	top:0;
//	left:0;
//	width:100%;
//	font-family: calibri;
//	font-size: 13px;
//	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
//	-webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
//}
//@-webkit-keyframes slideOut{
//	0%{top:-30px; opacity: 0;}
//	100%{top:0px; opacity: 1;}
//}

.vladmaxi-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.vladmaxi-top a:hover{
	background: #fff;
}
.vladmaxi-top span.right{
	float: right;
}
.vladmaxi-top span.right a{
	float: left;
	display: block;
}
